# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Haochuan Liu
	email = haochuan.liu@gmail.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
